<!DOCTYPE html>

<html>
    <title>{{title}} - Ibi's Portfolio</title>
    <head>
       <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <h1>Welcome to my porfolio</h1>
    </head>
    <nav>
        <a href="/index">Home</a>
        <a href="/about">About</a>


        {% if session.get('loggedin') %}
            <a href="/projects">Projects</a>
            <a href="/learning">Learning</a>
            <a href="/habits">Habits</a>
            <a href="/todo">To Do List</a>
            
            <a class="btn" href="{{ url_for('logout') }}">Log out</a>  
        {%else %}    

        <a href="/login">Log in</a>

        {%endif%}
    </nav>

    <body>
        {% block index %}{%endblock%}
        {%block about%}{%endblock%}
        {%block projects%}{%endblock%}
        {%block learning%}{%endblock%}
        {%block habits %}{%endblock%}
        {%block login %}{%endblock%}
        {%block todo%}{%endblock%}
        

    </body>

    <footer>
        author: Ibi
    </footer>
</html>
