<!DOCTYPE html>

<html>
    <title>{{title}} - Ibi's Portfolio</title>
    <head>
       <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <h1>Welcome to my porfolio</h1>
    </head>
    <nav>
        <a href="/index">Home</a>
        <a href="/projects">Projects</a>
        <a href="/learning">Learning</a>
        <a href="/habits">Habits</a>
        <a href="/about">About</a>
        <a href="/login">Login</a>
    </nav>

    <body>
        {% block index %}{%endblock%}
        {%block content %}{%endblock%}
        {%block habits %}{%endblock%}

    </body>

    <footer>
        author: Ibi
    </footer>
</html>
